<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/loginStyle.css">
  <link rel="icon" href="/css/images/universidadeIcon.ico">
</head>
<body>
<div class="container">
  <img src="/css/images/universidadeEmblem.jpeg" alt="Logo da Universidade" class="logo">
  <h1>Login</h1>
  <p th:if="${error}" class="error-message" th:text="${error}"></p>
  <form action="/login" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
  </form>
  <p>Ainda não possui uma conta?
    <a href="/cadastro">Cadastrar novo usuário</a>
  </p>
</div>
</body>
</html>
